fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
pydantic[email]
torch
torch-geometric
pymatgen
pandas
numpy
scikit-learn
sentence-transformers
langchain
langchain-community
langchain-openai
openai
ollama
python-multipart
python-dotenv
faiss-cpu
tqdm
requests