fastapi
uvicorn
torch
torch-geometric
pymatgen
pandas
numpy
scikit-learn
sentence-transformers
langchain
langchain-community
langchain-openai
openai
ollama
python-multipart
python-dotenv
faiss-cpu
tqdm
requests